.header-wrapper {
  background-image: url('../images/airplanePic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

.content-wrapper {
  width:1200px;
  margin-left: auto;
  margin-right: auto;
}

  h1 {
    color: rgb(124, 124, 124);
    font-size: 300%;
    padding-top: 400px;
    margin: 10px;
    padding-left: 100px;
  }


  .underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(124, 124, 124);
  } 
    
  article{
  color: rgb(56, 54, 54);
  font-size: 100%;
  margin: 15px;
    
}

  .chart{
    margin-left: 800px auto;
    margin-right: 500px auto;

    width: 700px;
    height: 400px;
  }
