body {
  background: white;
  margin: 0;
  padding: 0;
}


h1 {
  color: blue;
  font-family: Titillium Web;
  font-size: 300%;
  padding-top: 15px;
  margin: 10px;
  
}
article.a{
  color: rgb(56, 54, 54);
  font-family: Titillium Web;
  font-size: 100%;
  margin: 15px;
  padding-right: 400px;
  
  
}
article{
color: rgb(56, 54, 54);
font-family: Titillium Web;
font-size: 100%;
margin: 15px;



  
}

html {
  scroll-behavior: smooth;
}