
  h1 {
    color: rgb(124, 124, 124);
    font-size: 300%;
    padding-top: 400px;
    margin: 10px;
    padding-left: 100px;
  
    
  }

  .line{
    border-right: 4px solid rgb(124, 124, 124);
    height: 200px;
    margin-right: 400px;
    margin-top: -150px;
  }



  body{
     
    background-image: url(../images/thumb-350-734981.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin: 0;
    padding: 0;
  }

  article .a{
    color: rgb(56, 54, 54);
    font-size: 100%;
    margin: 15px;
    
    
    
  }
  article{
  color: rgb(56, 54, 54);
  font-size: 100%;
  margin: 15px;
  
    
}



  html {
    scroll-behavior: smooth;
  }


  .chart{
    margin-left: 800px ;
    margin-right: 300px;

    width: 700px;
    height: 400px;
  }


  .wrapper{
    margin:0 auto;
    padding-top: 700px;
    width: 1000px;
  }



.opener{
  margin: 0 auto;
  left: 80px;
}