
  h1 {
    color: blue;

    font-size: 300%;
    padding-top: 15px;
    margin: 10px;
    
  }



  body{
     
  }

  article.a{
    color: rgb(56, 54, 54);
    font-size: 100%;
    margin: 15px;
    
    
    
  }
  article{
  color: rgb(56, 54, 54);
  font-size: 100%;
  margin: 15px;
  
    
}



  html {
    scroll-behavior: smooth;
  }


  .chart{
    margin-left: 800px ;
    margin-right: 300px;

    width: 700px;
    height: 400px;
  }