.content {
    background-color: rgb(8, 20, 48);
    padding-bottom: 400px;
}

.overview-wrapper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/sofia_departure_2017-20.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sep{
    width: 100%;
    height: 50px;
    background-color: white;
}

.overview {
    padding: 60px;
    position: relative;
    z-index: 1;
    height: 100%;
}

.overview h1 {
    font-size: 100px;
    color: lightgray;
    text-align: center;
    margin-bottom: 20px;
}

.overview p {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: justify;
    width: 800px;
    color: white;
}


.timeline {
    background-color: white;
    width: 100%;
}

.timeline.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .timeline-content {
    margin-top: 150px;
  }


.timeline-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.timeline .ul{
    display: flex;
}

.timeline li {
    list-style: none;
    color: #333;
    font-size: 30px;
    text-align: center;
    flex-grow: 1;
    height: 80px;
    transition: font-size 750ms;
}

.text {
    transition: margin-top 750ms;
    color: #333;
    cursor: pointer;
}

._1 {
    margin-bottom: 70px;
    border-bottom: 10px solid royalblue;
    background: linear-gradient(rgb(197, 7, 7), rgb(197, 7, 7)) no-repeat bottom/4px 30%;
}

._2 {
    margin-top: 70px;
    border-top: 10px solid royalblue;
    background: linear-gradient(rgb(197, 7, 7),rgb(197, 7, 7)) no-repeat top/4px 30%;
}

._1 .text {
    margin-top: 15px;
}

._2 .text {
    margin-top: 25px;
}

.text:hover {
    font-weight: bold;
}

.active{
    font-size: 40px;
    font-weight: bold;
}

._1.active .text {
    margin-top: 5px;
}

._2.active .text {
    margin-top: 20px;
}

.progress-bar {
    height: 10px;
    margin-top: 70px;
    position: absolute;
    background-color: rgb(8, 20, 48);
}


.timeline-content {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(8, 20, 48);
}

.timeline-content .section {
    position: relative;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

#s0 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/USAF_F-16A_F-15C_F-15E_Desert_Storm_edit2.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

#s1 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/WTC_smoking_on_9-11.jpeg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

#s2 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/southwest.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

#s3 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/B777\,_B474\,_and_A319\'s_at_SFO_International.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

#s4 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/1599px-Delta_Airlines_-_Boeing_767-300_-_N185DN_\(Quintin_Soloviev\).jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

#s5 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7) ), url('../images/Delta_Aircraft_Cleaning_-_49656588072.jpg');
    background-repeat: no-repeat;  
    background-position: left top;
    background-size: cover;
}

.timeline-content .header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    text-align: center;
}

.summary {
    font-size: 20px;
    text-align: justify;
}

.vl {
    border-left: 20px solid rgb(95, 6, 6);
    position: absolute;
    left: 50%;
    margin-left: -10px;
    margin-top: 100px;
  }

/* Source */

.source {
    float: left;
    font-size: 10px;
  }
  .source a {
    text-decoration: none;
    color: white;
  }