.dashboard-wrapper {
    padding: 50px;
    background-color: navy;
}

.live-data{
    padding: 50px;
    background-color: red;
}

.covid-econ {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
    background-color: green;

}
.covid-econ > div {
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 100px;
    flex-grow: 1;
    background-color: yellow;
}

.tsa-chart {
    background-color: yellow;
    padding: 5px;
}


.projected-data {
    padding: 50px;
    background-color: teal;
}

.covid-econ-projections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
    background-color: red;
}
.covid-econ-projections > div {
    padding-right: 10px;
    padding-left: 10px;
    width: 100px;
    flex-grow: 1;
    background-color: yellow;
}

.rpms-projections, .rpms-change {
    background-color: yellow;
}



  /* Source */

.source {
    float: left;
    font-size: 10px;
  }
  .source a {
    text-decoration: none;
    color: black;
  }