* {
  box-sizing: border-box;
  font-family: 'Titillium Web', Helvetica, sans-serif;
}

.preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  background: white;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* HEADER STYLING*/

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) ), url('../images/header-background.jpg');
  background-repeat: no-repeat;  
  background-position: right center;
  background-size: cover;
  height: 700px;
}

.overview{
  height: 550px;
  display: table-cell;
  vertical-align: middle;
}

.overview > .summary {
  margin-left: 100px;
  padding: 25px;
  width: 45%;
  font-size: 60px;
  color: white;
}

.revelation-greeting {
  margin-left: 100px;
  padding: 25px;
  font-size: 80px;
  color: white; 
}

/*NAVBAR STYLING*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.navbar-logo img{
  height: 130px;
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-link {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.5s;
}

.active-navbar-link {
  border-bottom: 4px solid white;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: white;
  font-size: 25px;
  transition: .6s;
}

.navbar-links li:hover a{
  font-size: 30px;
  transition: .6s;
}

.toggle-button {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*NAVTAB*/

 .navtab {
   background-color: white;
   width: 100%;
   position: relative;
 }
 .navtab.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

 .navtab-links {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navtab-link {
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s;
}

.navtab-link:hover {
  border-bottom: 3px solid lightgrey;
  transition: border-bottom 0.5s;
}

.active-navtab-link {
  border-bottom: 3px solid #2990ea;
  transition: border-bottom 0.5s;
}

.active-navtab-link:hover {
  border-bottom: 3px solid #2990ea;
}

.navtab-links ul {
  display: flex;
}

.navtab-links li {
  margin-left: 11px;
  margin-right: 11px;
  list-style: none;
}

.navtab-links li a {
  text-decoration: none;
  display: block;
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

/*RESEARCH OVERVIEWS*/
.sections > div {
  padding-top: 128px;
  padding-bottom: 128px;
  align-content: center;
  text-align: center;
}


 .current-impact-section, .modeling-section, .commercial-air-travel-section, .nas-section, .report-section{
  background-color: rgba(0,0,0,0.05);
 }

 .previous-crises-section, .aviation-pre-covid-section, .manufacturing-section, .nasa-research-section {
  background-color: rgba(0,0,0,0.1);
}

/*CURRENT IMPACT*/

.overview-wrapper {
  width: fit-content;
  display: inline-flex;

}

.text-wrapper {
  padding: 50px;
  vertical-align: center;
  text-align: left;
}

.current-impact-section h2 {
  font-size: 45px;
  width: 400px;
  margin-bottom: 65px;
}


/*MODEL section*/

.modeling-section .chart-wrapper {
  width: 1200px;
  margin: auto;
}

/* Learn More Button */
.learn-more{
  font-size: 50px;
  font-weight: 800;
  color: dodgerblue 50%;
  overflow: hidden;
  background: linear-gradient(to right, royalblue, royalblue 50%, dodgerblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position .75s ease;
}

.learn-more:hover {
  background-position: 0 100%;
}

/* Source */

.source{
  float: right;
  text-decoration: none;
  color: black;
}

 /*RESPONSIVE CONTENT*/
@media (max-width: 1200px) {
  /*navbar*/
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-logo img{
    height: 100px;
    margin: 20px;
  }
  
  .toggle-button {
      display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-link {
    height: fit-content;
  }

  .navbar-links ul {
    flex-direction: column;
    background-color:  rgb(50, 50, 50, .8);
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
  }

  .navbar-links ul li {
    width: 100%;
    text-align: center;
  }
  .navbar-links ul li div {
    display: inline-block;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    width: 100%;
  }

  /*overview summary*/
  .overview > .summary {
    margin-left: 10vw;
    width: 70vw;
    font-size: 7vw;
  }

  .revelation-greeting {
    margin-left: 10vw;
    width: 70vw;
    font-size: 10vw;
  }

  .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) ), url('../images/header-background-alternate.jpg');
    background-repeat: no-repeat;  
    background-position: left center;
    background-size: cover;
    height: 700px;
  }
}

