

.sector-overviews .header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.sector-overviews .header:hover {
    cursor: pointer;
}

.sector-overviews .up{
    background: url('https://api.iconify.design/el-chevron-up.svg') no-repeat center center / contain;
    margin-left: 20px;
    margin-top: 30px;
    height: 40px;
    width: 40px;
}

.sector-overviews .down{
    background: url('https://api.iconify.design/el-chevron-down.svg') no-repeat center center / contain;    margin-top: 25px;
    margin-left: 20px;
    margin-top: 30px;
    height: 40px;
    width: 40px;
}

.sector-overviews img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: fill;
}

.sector-overviews h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: black;
}

.sector-overviews .ov {
    padding: 40px;

}

.sector-overviews p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: justify;
    color: white;
}

@media (max-width: 1300px){
    .sector-overviews .header {
        width: 90%;
    }
    
    .sector-overviews h2{
        font-size: 45px;
    }
    
    
    .sector-overviews p{
        width: 90%;
        font-size: 20px;
    }
}

@media (max-width: 900px){

    .sector-overviews h2{
        font-size: 40px;
    }
    
    .sector-overviews p{
        font-size: 18px;
    }
    
}

@media (max-width: 700px){
    .sector-overviews .header {
        width: 95%;
    }

    .sector-overviews .up{
        margin-left: 10px;
    }
    
    .sector-overviews .down{
        margin-left: 20px;
    }

    .sector-overviews h2{
        font-size: 35px;
        margin-left: 0;
    }
    
    .sector-overviews p{
        font-size: 16px;
        width: 95%;
    }
}

@media (max-width: 580px){
    .sector-overviews .header {
        width: 90%;
    }
    .sector-overviews h2{
        font-size: 30px;
    }
    
    .sector-overviews p{
        font-size: 14px;
    } 
}

@media (max-width: 550px){
    .sector-overviews .header {
        width: 100%;
    }
    
    .sector-overviews .up{
        margin-left: 10px;
    }
    
    .sector-overviews .down{
        margin-left: 10px;
    }
    
    .sector-overviews p{
        width: 100%;
    }
}

@media (max-width: 500px){

    .sector-overviews .up{
        margin-top: 15px;
        height: 20px;
        width: 20px;
    }
    
    .sector-overviews .down{
        margin-top: 15px;
        height: 20px;
        width: 20px;
    }
    
    .sector-overviews img {
        width: 40px;
        height: 40px;
    }
    
    .sector-overviews h2{
        margin-left: 5px;
    }
}
@media (max-width: 420px){
    
    .sector-overviews h2{
        font-size: 21px;
    }

}



.passenger .ov{  
    /*Image source: https://www.nasa.gov/centers/dryden/images/content/411999main_ED09-0342-08_full.jpg*/
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/sophia_departure.jpg'); 
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}


.cargo .ov{  
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/usps.jpg');
    background-repeat: no-repeat;  
    background-position: center bottom;
    background-size: cover;
}

@media (max-width: 550px){
    .cargo .ov {
        background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/usps-mobile.jpg');
        background-repeat: no-repeat;  
    background-position: center ;
    background-size: cover;
    }
}

.manufacturing .ov{
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/boeing_factory.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

.uam .ov{
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/uam_sunset.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}

.nas .ov{
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/control_tower.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;  
}

.environment .ov{  
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/outlook/earth_graphic.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}


