


.overview-wrapper {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/nasa-outlook.jpg');

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.overview-header {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}
.overview-header h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
    color: lightgrey;
}

.overview-header p {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.sector-overviews {
    padding: 20px;
    background-color: rgb(8, 20, 48);
}

.sectors-header {
    padding: 20px;    
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}

.sector-overviews > section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    background-color: lightgrey;
    border-radius: 30px;
}

.sector-overviews .header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.sector-overviews img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.sector-overviews h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.sector-overviews p{
    font-size: 25px;
    text-align: justify;
}



