
.sector-overviews > section {
    padding: 20px
}

.sector-overviews .header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.sector-overviews img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.sector-overviews h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: lightgrey;
}


.sector-overviews p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: justify;
    color: white;
}

.sectors-header{      
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/sofia_departure_2017-20.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 100px;    
    font-weight: bolder;
    text-align: center;
    color: lightgrey;
    height: 100vh;
}

.sectors-header h1{
    line-height: 100vh;
}


.passenger {
    
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/header-background-alternate.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


.freight {
    
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/dhl_cargo.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.manufacturing {
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/boeing_manufacturing.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;   
}

.uam {
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/uam-everything_v09.jpeg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;   
}

.nas {
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/control_tower.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;   
}

.environment{
    
    background: linear-gradient( rgba(0,0,0, 0.7), rgb(0,0,0, 0.7) ), url('../images/spinoff_heathy_planet4.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


