
.chart-wrapper {
    margin-top: 30px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.overview {
    padding: 25px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.overview h1 {
    font-size: 30px;
    color: rgba(0, 0, 0,.7);
}

/*NAVTAB*/

.navtab {
    width: 100%;
    background-color: white;
    position: relative;
  }
  .navtab.sticky {
   position: fixed;
   top: 0;
 }
 
 /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 .sticky + .crises-wrapper {
   padding-top: 60px;
 }
 
  .navtab-links {
   display: flex;
   justify-content: center;
   align-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 
 .navtab-link {
   border-bottom: 3px solid transparent;
   transition: border-bottom 0.5s;
 }
 
 .navtab-link:hover {
   border-bottom: 3px solid lightgrey;
   transition: border-bottom 0.5s;
 }
 
 .active-navtab-link {
   border-bottom: 3px solid #2990ea;
   transition: border-bottom 0.5s;
 }
 
 .active-navtab-link:hover {
   border-bottom: 3px solid #2990ea;
 }
 
 .navtab-links ul {
   display: flex;
 }
 
 .navtab-links li {
   margin-left: 25px;
   margin-right: 25px;
   list-style: none;
 }

 .navtab-links li a {
    text-decoration: none;
    display: block;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  
 /*crises*/

 .gulf-war-wrapper, .iraq-war-wrapper, .great-recession-wrapper{
  background-color: rgba(0,0,0,0.05);
 }

._911-wrapper, .sars-wrapper {
  background-color: rgba(0,0,0,0.1);
}
.crises-wrapper p {
    font-size: 25px;
    text-align: justify;

}

.crises-wrapper h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.crises-wrapper > div{
    padding-top: 64px;
    padding-bottom: 64px;
}

/* Text wrapper */
.crises-content-wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* Source */

.source {
  float: right;
}
.source a {
  text-decoration: none;
  color: black;
}