
.sector-overviews > section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector-overviews .header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}


.sector-overviews h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: lightgrey;
}


.sector-overviews p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: justify;
    color: white;
}




.passenger {
    
    background: linear-gradient( to left, rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/passengers.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


.sustainability {
    
    background: linear-gradient(  to left, rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80%), url('../images/recommendations/ecodemonstrator_airplane.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.innovation {
    background: linear-gradient(  to left,rgba(15,17,32,0.4) 0%,rgba(15,17,32,0.8) 80% ), url('../images/rvlt_urbanairmobility.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;   
}




