/*BASIC STYLING FOR ALL RESEARCH PAGES OF WEBSITE*/

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', Helvetica, sans-serif;
  }
  
  .preload *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  
  body {
    background: white;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

/*NAVBAR*/


.navbar {
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img{
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}


.navbar-links {
 display: flex;
 padding-top: 10px;
 padding-bottom: 10px;
}

.navbar-links ul {
 width: 100%;
 justify-content: space-around;
 margin-left: auto;
 margin-right: auto;
}

.navbar-link {
 border-bottom: 3px solid transparent;
 transition: border-bottom 0.5s;
}

.navbar-link:hover {
 border-bottom: 3px solid lightgrey;
 transition: border-bottom 0.5s;
}

.active-navbar-link {
 border-bottom: 3px solid royalblue;
 transition: border-bottom 0.5s;
}

.active-navbar-link:hover {
 border-bottom: 3px solid royalblue;
}

.navbar-links ul {
 display: flex;
}

.navbar-links li {
 margin-left: 11px;
 margin-right: 11px;
 list-style: none;
}

.navbar-links li a {
 text-decoration: none;
 display: block;
 color: grey;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 25px;
}

 /*CONTENT*/

 .content {
     background-color: white;
 }